---
- name: Fedora - Pre-installation.
  block:
    - name: Fedora - Ensure /etc/my.cnf is configured.
      ansible.builtin.template:
        src: my.cnf.j2
        dest: "{{ mysql_config_path }}"
        owner: "{{ __mysql_root_user }}"
        group: "{{ __mysql_root_group }}"
        mode: 0644

- name: Fedora - Ensure MySQL python package is installed.
  ansible.builtin.dnf:
    name: "{{ mysql_python_package }}"
    state: present
  when: mysql_install_packages

- name: Fedora - Ensure MySQL packages are installed.
  ansible.builtin.dnf:
    name: "{{ mysql_packages }}"
    state: present
  register: mysql_installed_packages
  when: mysql_install_packages


- name: Fedora - Post-installation.
  block:
    - name: Fedora - Ensure MySQL database is correctly initialized (mariadb).
      ansible.builtin.command: /usr/bin/mysql_install_db
      when: mysql_provider == 'mariadb'

    - name: Fedora - Ensure MySQL database is correctly initialized (mysql).
      ansible.builtin.command: |
        mysqld --initialize-insecure \
               --user={{ mysql_system_user }} \
               --datadir={{ mysql_datadir }}
      when: mysql_provider == 'mysql'

    - name: Fedora - Ensure /var/lib/mysql has correct rights.
      ansible.builtin.file:
        path: /var/lib/mysql
        state: directory
        recurse: yes
        owner: "{{ mysql_system_user }}"
        group: "{{ mysql_system_group }}"
        mode: 0700

    - name: Fedora - Ensure MySQL is started.
      ansible.builtin.service:
        name: "{{ mysql_service }}"
        state: started

    when: mysql_installed_packages and mysql_installed_packages.changed
