---
- name: Include OS-specific variables.
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"

- name: Disable MySQL.
  service:
    name: "{{ mysql_service }}"
    enabled: no
  ignore_errors: yes

- name: Stop MySQL.
  service:
    name: "{{ mysql_service }}"
    state: stopped
  ignore_errors: yes

- name: This block should not be needed.
  block:
    - name: Uninstall MySQL.
      package:
        name: "{{ mysql_packages }}"
        state: absent

    - name: Uninstall MySQL python packages.
      package:
        name: "{{ mysql_python_package }}"
        state: absent
  when: ansible_distribution != "Debian"

- name: Be sure Debian really removes the packages.
  apt:
    name: "{{ mysql_packages + mysql_python_package }}"
    state: absent
    purge: yes
    autoremove: yes
  when: ansible_distribution == "Debian"

- name: Remove MySQL configuration.
  file:
    path: "{{ mysql_config_path }}"
    state: absent

- name: Remove root MySQL configuration.
  file:
    path: /root/.my.cnf
    state: absent

- name: Remove MySQL data.
  file:
    path: "{{ mysql_datadir }}"
    state: absent
