---
- name: Include OS-specific variables.
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
    - "{{ ansible_facts['distribution'] }}.yml"
    - "{{ ansible_facts['os_family'] }}.yml"

- name: Disable MySQL.
  service:
    name: "{{ mysql_service }}"
    enabled: no
  ignore_errors: yes

- name: Stop MySQL.
  ansible.builtin.service:
    name: "{{ mysql_service }}"
    state: stopped
  ignore_errors: yes

- name: This block should not be needed.
  block:
    - name: Uninstall MySQL.
      ansible.builtin.package:
        name: "{{ mysql_packages }}"
        state: absent

    - name: Uninstall MySQL python packages.
      ansible.builtin.package:
        name: "{{ mysql_python_package }}"
        state: absent
  when: mysql_install_packages and ansible_facts['distribution'] != "Debian"

- name: Be sure Debian really removes the packages.
  ansible.builtin.apt:
    name: "{{ mysql_packages + mysql_python_package }}"
    state: absent
    purge: yes
    autoremove: yes
  when: mysql_install_packages and ansible_facts['distribution'] == "Debian"

- name: Remove MySQL configuration.
  ansible.builtin.file:
    path: "{{ mysql_config_path }}"
    state: absent

- name: Remove root MySQL configuration.
  ansible.builtin.file:
    path: /root/.my.cnf
    state: absent

- name: Remove MySQL data.
  ansible.builtin.file:
    path: "{{ mysql_datadir }}"
    state: absent
