{{ ansible_managed | comment }}

{% for section, content in __mysql_config.items() %}
[{{ section }}]
{% if content %}
{% for key, value in content.items() %}
{% if value == True %}
{{ key }}
{% else %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}
